# Tuple
>#### Type of Tuple
>#### Indexing in Tuple
>#### Count in Tuple
>#### Range in Tuple
>#### Concatenate / Merge in Tuple
>#### Repeatitions of Tuple
>#### Minimum Value in Tuple
>#### Maximum Value in Tuple
>#### Manipulating in Tuple

In [14]:
tup1=(1,'a',True,8,False,'dc')
tup1

(1, 'a', True, 8, False, 'dc')

### Type of Tuple

In [15]:
type(tup1)

tuple

### Indexing in Tuple

In [16]:
tup1[4]

False

### Counting in Tuple

In [3]:
tup1=(1,'a',3,4,4,3,9,True,8,False,'dc')

tup1.count(4)

2

### Range in Tuple

In [17]:
tup1[2:7]

(True, 8, False, 'dc')

In [18]:
tup1[2]='w'
#immutable
#items cants be changed

TypeError: 'tuple' object does not support item assignment

In [19]:
tup2=(4,'s',False, 9)

### Concatenate / Merge in Tuple

In [20]:
tup1+tup2

(1, 'a', True, 8, False, 'dc', 4, 's', False, 9)

### Repeatitions of Tuple

In [21]:
tup1*4

(1,
 'a',
 True,
 8,
 False,
 'dc',
 1,
 'a',
 True,
 8,
 False,
 'dc',
 1,
 'a',
 True,
 8,
 False,
 'dc',
 1,
 'a',
 True,
 8,
 False,
 'dc')

In [22]:
#repeat and merge
tup2*3+tup1

(4,
 's',
 False,
 9,
 4,
 's',
 False,
 9,
 4,
 's',
 False,
 9,
 1,
 'a',
 True,
 8,
 False,
 'dc')

### Minimum Value in Tuple

In [12]:
#min value
tup3=(1,2,3,4,5)
min(tup3)

1

### Maximum Value in Tuple

In [13]:
#max value
max(tup3)

5

### Manipulation in Tuple

In [9]:
countries = ("Spain", "Italy", "India", "England", "Germany")
#print(type(countries))
#COnverting tuple in to list
temp = list(countries)
#print(type(temp))

temp.append("Russia")       #add item 
temp.pop(3)                 #remove item
temp[2] = "Finland"         #change item
#converting back to tuple
countries = tuple(temp)
#print(type(countries))
print(countries)

('Spain', 'Italy', 'Finland', 'Germany', 'Russia')